@media(max-width:575px) {

    .main_slick {
        height: 400px;
    }


    .bannerTXT {
        color: #fff;
        position: absolute;
        right: 20;
        bottom: 0;
        width: 100%;
        z-index: 20;
        font-family: 'Maven Pro', sans-serif;
        color: #fff;
        font-size: 18px;
        line-height: 15px;
        font-weight: 400;

    }

    .about_txt {
        text-align: justify;

    }

    .about_txt h1 {
        text-align: center;
    }

    .service_padding .col-md-4 {
        margin: 10px 0;
    }

    .btn {
        margin: 5px;
    }

    .work_overlay {
        padding: 40px 0;
    }
}

@media(min-width:576px) and (max-width:767px) {
    .main_slick {
        height: 500px;
    }

    .bannerTXT {
        color: #fff;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: 20;
        font-family: 'Maven Pro', sans-serif;
        color: #fff;
        font-size: 25px;
        line-height: 36px;
        font-weight: 400;
        padding: 68px 0px !important
    }
    .about_txt {
        text-align: justify;

    }

    .about_txt h1 {
        text-align: center;
    }

     .service_padding .col-md-4 {
        margin: 15px 0;
    }
     .work_overlay {
        padding: 70px 0;
    }
    #news .container .row .col-md-4{
        margin: 20px 0;
    }
}

@media(min-width:768px) and (max-width:991px) {
    .main_slick {
        height: 580px;
    }
    .bannerTXT {
        color: #fff;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: 20;
        font-family: 'Maven Pro', sans-serif;
        color: #fff;
        font-size: 35px;
        line-height: 36px;
        font-weight: 400;
        padding: 80px 0px !important
    }
    .about_txt {
        
        text-align: justify;
        font-size: 10px;

    }

    .about_txt h1 {
        text-align: center;
    }
    #about .col-md-6 img{
        padding: 85px 0  0 0;
    }
    .about_txt  p{
        padding: 5px 0;
    }
}
@media(min-width:992px) and (max-width:1199px){
    .bannerTXT {
        color: #fff;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: 20;
        font-family: 'Maven Pro', sans-serif;
        color: #fff;
        font-size: 30px;
        line-height: 36px;
        font-weight: 400;
        padding: 100px 0px !important;
        width: 80%
    }
}


















