@media(max-width:575px) {

    /*  banner start  */
    .navbar-brand {
        margin-right: 0;
    }

    #navbarNav {
        background-color: #222329
    }

    .navbar-brand img {
        width: 75%;
    }

    .navbar-toggler {
        background-color: #fff;
    }

    .main_banner {
        height: 550px;
        position: relative;

    }

    .banner_des {
        padding: 70px 0;
        box-sizing: border-box;
        text-align: center;
    }

    .banner_des h1 {
        visibility: hidden;
    }

    .banner_des h2 {
        font-size: 23px;
        text-align: center;
        padding-bottom: 0;
    }

    .banner_des h4 {
        font-size: 12px;
        text-align: center
    }

    .banner-button a {
        padding: 21px 9px 9px 9px;
    }

    .banner_btn ul li {
        text-align: center
    }

    .banner_btn {
        padding: 30px 0;
    }

    /*    banner end */
    .about_des{
        padding: 15px 10px;
    }

    .about_des p {
        font-size: 12px
    }

    .title {
        padding: 5px 0;
        ;
    }

    /*    ========*/


    .feature_dic {
        text-align: center;
        padding-top: 10px;
    }


    #feature .nav-pills a i {
        font-size: 22px;
    }

    #feature .nav-pills a h4 {
        padding-left: 8px;
        font-size: 12px;
    }

    #feature .nav-pills a h4 span {
        font-size: 10px;


    }

    #feature .nav-pills a {
        margin-right: 33px;
    }

    .form-control {
        margin: 10px 0;
    }

    #feature .nav-pills a {}




    .feedk {
        padding: 15px 10px;
    }

    .feedk p {
        font-size: 13px;
    }

}
