* {
    margin: 0;
    outline: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

p {
    margin-bottom: 0;
}

html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
}

/*====== bassic css end =====*/

/* ===== navbar start ===== */
.navbar {
  
background-color: #ffffff;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 990;
    box-shadow: 0px 8px 5px rgba(39, 39, 39, 0.38)
}

.navbar-light .navbar-nav .nav-link {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    color: #4c4c4c;
    border: 1px solid #fff;
    padding: 20px 15px;
    background-color: #ffffff;
    border: 2px solid transparent;
}

.navbar-light .navbar-nav .nav-link:hover {
    background-color: #f1f1f1;
    border-bottom: 2px solid #e8204f
}

.nav_logo h1,
.nav_logo2 {
    line-height: 70px;
    font-size: 36px;
    color: #ffffff;
    font-family: 'Saira Stencil One', cursive;

}

.nav_logo {
    position: absolute;
    left: -16px;
    top: 50%;
    height: 70px;
    width: 70px;
    text-transform: uppercase;
    background-color: #e8204f;
    z-index: 99;
    padding-left: 22px;
    visibility: visible
}

.navbar-collapse {
    height: 100%;
    width: 100%
}

.nav_logo2 {
    position: absolute;
    left: 0;
    top: 20px;
    height: 50px;
    width: 50px;
    text-transform: uppercase;
    background-color: #e8204f;
    z-index: 99;
    padding-left: 10px;
    margin-left: 15px;
    visibility: hidden
}

/* ===== banner start ====== */


#banner{
    
    background: url(../images/banner_24.jpg) center left no-repeat;
    background-size: cover;
    height: 750px;
    position:relative
}
#banner:before{
    position: absolute;
    content: "";
     top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 45, 47, 0.53);
    z-index: 2
}

.banner_txt{
    text-align: center;
    padding-top:230px;
    width: 600px;
    margin: auto;
    color: #ffffff;
}
.banner_txt h1{
    font-size: 70px;
    color: #ffffff;
     font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 5px;
}
.banner_txt h5{
    font-size: 20px;
    color: #f1f1f1;
     font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: italic;
  
    
}

.banner_txt p{
    font-size: 16px;
    color: #f1f1f1;
    font-weight: 400;
    font-style: italic;
    padding: 10px;
}
.banner_txt  a{
    display: inline-block;
    border: 3px solid rgba(232, 32, 79, 0.69);
    border-radius: 15px;
    padding: 0px 30px;
     text-decoration: none;
    margin-top: 50px;
    background-color: transparent;
    transition: all .4s linear
}
.banner_txt  a p{
     font-size: 24px;
    color: #f1f1f1;
    font-weight: 600;
    font-style: normal;

}
.banner_txt  a:hover{
        border: 3px solid #fff;
 background-color: #e8204f
}
.full_banner{
 position: relative;
      background: url(../images/main_banner.jpg) center left no-repeat;
    background-size: cover;
    height: 750px;
}
.main_banner{
    position: absolute;
  text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}









/* ====== about start ===== */


.title h1 {
    font-size: 36px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    line-height: 5px;
    padding-top: 15px;
}

.title h4 {
    color: #ffffff;
}

.title h5 {
    color: #f1f1f1;
}


/* ===== title end =====*/


#about_us .title {
    padding-top: 0;
    padding-bottom: 50px;
}



#about_us {
    background-color: rgb(17, 22, 51);
    padding: 100px 0;
}



.additional_info {
    background-color: #0a0c18;
    padding: 15px;
    color: aliceblue;
    margin: 0;
}

.about_detales {
    padding-left: 30px;
}

.about_detales p {
    font-size: 14px;
    color: #bbbbbb;
    padding: 15px 0;
    text-transform: capitalize;
}

.about_block_ifo {
    padding: 10px;
}

.about_block_ifo h5 {
    font-size: 16px;
    text-transform: capitalize;
    color: #f1f1f1
}

.about_block_ifo h6 {
    font-size: 14px;
    text-transform: capitalize;
    color: #bbbbbb;
}

.about_images {
    padding-top: 20px;
}

#about_us .about_detales .btn {
    padding: 10px 25px;
    text-transform: capitalize;
    font-size: 18px;
    display: inline-block;
}

.contact_hi {
    background-color: #e8204f;
    color: #f1f1f1
}
.contact_hi :hover{
     background-color: #f1f1f1 !important;
    color: #e8204f !important
}
.about_button {
    padding: 15px 0;
}

.about_button .btn p {
    font-size: 14px;
    margin-bottom: 0;
    padding: 0;
}

.contact_me p {
    color: #fff;
}

.contact_me:hover.contact_me p {
    color: #e8204f;
}

.contact_me {
    background-color: #e8204f;
    border: 2px solid #e8204f;
    transition: all .2s linear;

}

.contact_me:hover {
    border: 2px solid #e8204f;
    background-color: #fff;

}

.contact_me_cv {
    border: 2px solid #f1f1f1;
    background-color: transparent;
    color: #fff !important;
    transition: all .2s linear;
}

.contact_me_cv p {
    color: #fff;
}

.contact_me_cv:hover {
    border: 2px solid #fff;
    background-color: #fff;
    color: #111111 !important
}

.contact_me_cv:hover.contact_me_cv p {
    color: #222222
}

/*
    ==  ========  =====
     service strat
    ======  =====  ====
*/


#service {
    padding: 100px 0;
    background-color: #f1f1f1
}

.main_service {
    background-color: #ffffff;
    border-radius: 10px;
    transition: all .3s linear;

}

.main_service:hover {
    box-shadow: 5px 5px 8px #a5a5a5;

}

#service .slick-slide {
    padding: 15px 0;
}

#service .title {
    padding-bottom: 50px;
}

#service .title h1 {
    color: #353535;
}

.service_images img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    transform: scale(1);
    transition: all .4s linear;
    border-radius: 10px 10px 0 0;
}

.main_service:hover .service_images img {
    transform: scale(1.2);

}

.main_service:hover .servic_line {
    width: 300px;

}

.service_images {
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.service_images:before {
    position: absolute;
    content: "";

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(104, 216, 225, 0.76);
    opacity: 1;
    z-index: 10
}

.service_img1:before {
    position: absolute;
    content: "";

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(78, 99, 215, 0.71);
    opacity: 1;
    z-index: 10
}

.service_img2:before {
    position: absolute;
    content: "";

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(39, 108, 52, 0.72);
    opacity: 1;
    z-index: 10
}

.searvice_button {
    width: 75%;
    padding: 10px 20px;
    background-color: rgba(232, 32, 79, 0.75);
    border-radius: 10px;
    margin: auto;
    cursor: context-menu;
    text-transform: uppercase;
    color: #f2f2f2
}

.service_des {
    padding: 20px 10px;
    position: relative;
}

.service-icone {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 50px;
    padding: 0px 10px;
    background-color: #ffff;
    border-radius: 10px 10px 0 0;
    font-size: 40px;
    color: #e24545;
    z-index: 20
}

.service_des h4 {
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    color: #353535;
}

.service_des p {
    padding-bottom: 20px;
    padding-top: 10px;
    font-size: 14px;
    color: #555555
}

.servic_line {
    padding: 0;
    border-top: 2px solid #e8204f;
    width: 55px;
    margin: auto;
    transition: all .4s linear;
}





/*
    ==  ========  =====
        skill strat
    ======  =====  ====
*/
#team{
    padding: 100px 0;
}
#team .title {
    padding-bottom: 50px;
}
#team .title h1{
    color: #353535
}
.team_deails{
    background-color: #f1f1f1;
    height: 400px;
     border-radius: 15px 15px 5px 5px;
    width: 90%;
    position: relative;
    z-index: 1;
box-shadow: 10px 5px 10px #cccbcb;
    margin: 20px auto;
}
.team_deails:before{
     border-radius: 15px 15px 5px 5px;
    position:absolute;
    content: "";
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 2%;
    transition: all .5s linear;
    z-index: -1;
    
    
    
     background-color: #4e63d7;
}
.team_deails:hover.team_deails:before{
     height: 100%;
      border-radius: 15px 15px 5px 5px;
    box-shadow: 5px 10px 10px rgba(239, 239, 239, 0.86)
}
.team_deails ul{
    padding-top: 60px;
    padding-left: 30px;
}
.team_deails ul li {
    display: block;
    padding: 10px 0;
     height: 40px ;
    width: 40px;
     background-color: #6893e1;
    font-size: 20px;
     border-radius: 50%;
    margin-top: 5px;
   
    box-sizing: border-box;
    position: relative;
}
.team_deails ul li a{
   
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.team_deails ul li a i{
    
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    
    
}
.team_name{
    text-align: center;
    padding-top: 40px;
    text-transform: capitalize;
    
}
.team_name h3{
    color: #353535;
    font-size: 28px;
    font-weight: 500;
  transition: all .5s linear;
}
.team_name h5{
    color: #353535;
    font-size: 20px;
    font-weight: 500;
      transition: all .5s linear;
}
.team_deails:hover .team_name h3{
    color: #ffffff;
}
.team_deails:hover .team_name h5{
    color: #f1f1f1;
}
.tem_img{
    padding: 0 30px;
    position: absolute;
    top: 30px;
    left: 60px;
    width: 100%;
}
.tem_img img{
    width: 100%;
    border-radius: 15px;
}










/*
    ==  ========  =====
     portfoluio strat
    ======  =====  ====
*/
#fortfolio {
    padding: 100px 0;
    background: url(../images/portfolio_back.jpeg) top left no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

#fortfolio:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:rgba(35, 45, 96, 0.78);
}

.main_folio {
    padding: 10px;
}

.work_img img {
    width: 100%;
}

.work_img {
    position: relative;
    margin-top: 30px;
}

.work_overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    /*
    height: 90%;
    width: 90%;
*/
    background-color: rgba(255, 255, 255, 0.95);
    box-sizing: border-box;
    padding: 70px 0;
    font-family: 'Maven Pro', sans-serif;
    color: #222222;
    text-transform: uppercase;
    opacity: 0;
    transition: all .2s linear
}

.work_overlay p {
    margin: 0;
    line-height: 26px;

}

.work_overlay i {
    color: #fff;
}

.main_folio:hover .work_overlay {
    opacity: 1;
}

.filter button {
    background-color: aliceblue;
}

.filter button:hover {
    background-color: #e8204f;
}

/*
    ==  ========  =====
     project strat
    ======  =====  ====
*/


#next_projecr {
    height: 400px;
    width: 100%;
    background-color: #12141c;
    padding: 100px 0;

}

.nxt_pro {
    height: 200px;
    background: url(../images/nxt_project.jpg) center left no-repeat;
    background-size: cover;
    position: relative;
    padding: 84px 0;
    z-index: 1;
}

.nxt_pro:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 46, 46, 0.46);
    z-index: -1;

}

.nxt_pro h1 {
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;

}

.nxt_pro {}

.hire_me {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    width: 125px;
    background-color: #e8204f;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    padding: 12px 13px;
}

.hire_me p {
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}




/*
    ==  ========  =====
     testimonial strat
    ======  =====  ====
*/


#testimonial {
    padding: 100px 0px;
    background: url(../images/testbg.jpg) center bottom no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative
}

#testimonial:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(5, 6, 11, 0.69);
}

#testimonial .title {
    padding-bottom: 20px;
}

.mail_testimonial {
    padding: 10px;
    border: 2px solid #e8204f;
    margin: 0 !important
}

.testi_des ul li {
    display: inline-block;
}

.testi_images img {
    width: 200px;
}

.testi_des h4 {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 600;

}

.testi_des h5 {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    color: #f1f1f1;
    text-transform: capitalize;
    font-weight: 400;
}

.testi_des ul {
    margin-bottom: 0
}

.testi_des ul li {
    display: inline-block;
    font-size: 15px;
    color: #e8204f;
    line-height: 24px
}

.testi_des p {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #b7b7b7;
    text-transform: capitalize;
    padding-top: 10px;
    line-height: 24px;
}

.slider_arrow ul li {
    display: inline-block;
    width: 60px;
    height: 55px;
    font-size: 30px;
    line-height: 50px;
    padding: 0 14px;
    color: aliceblue;
    border: 2px solid #e8204f
}

.slider_arrow ul {
    padding-top: 40px;
}

.slider_arrow ul li:hover {
    background-color: #e8204f;
    border: 2px solid #f1f1f1
}

.quatation {
    text-align: right;
    color: #7c7c7c;
    font-size: 20px;
}

/*
    ==  ========  =====
     counter strat
    ======  =====  ====
*/


#counter {
    background: url(../images/counmter.jpg)center left no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px;
    position: relative;
    z-index: 1;
}

#counter:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(78, 99, 215, 0.31);
    z-index: -1;
}

.main_counter {
    padding: 70px 0;
}

.count {
    color: aliceblue;
    background-color: aliceblue;
    width: 230px;
    padding-top: 60px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.counter_shap {
    position: absolute;
    top: -15px;
    left: -15px;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 45px;
    padding-right: 50px;
    background-color: #dbdbdb;
    border-radius: 50%;
    transition: all .5s;


}

.conter_icone {
    position: absolute;
    top: 30px;
    left: 30px;
    border-radius: 50%;
    transition: all .5s;

}

.counter_des {
    text-align: left;
    padding: 30px;
}

.count:hover .counter_shap {
    padding-top: 55px;
    padding-left: 55px;
    padding-bottom: 50px;
    padding-right: 70px;

}

.conter_icone i {
    font-size: 40px;
    color: #4e63d7;

}

.count h1 {
    color: #e8204f;
    font-family: 'Kaushan Script', cursive;
}

.count p {
    color: #e8204f;
    text-transform: capitalize;
    color: #353535;
    font-family: 'Open Sans', sans-serif;
}


/*
    ==  ========  =====
     contact strat
    ======  =====  ====
*/

#contact {
    padding: 100px 0;
    background-color: #ffffff
}

#contact .title p {
    color:#222222;
    font-family: 'Open Sans', sans-serif;
    
}
#contact .title h1{
    color:#353535
}
.social_link {
    padding-top: 50px;
    padding-bottom: 0px;
}

.main_contact {
    color: aliceblue
}

.main_contact h1 i {
    color: #e8204f
}

.main_contact h3 {
    text-transform: capitalize;
    font-size: 26px;
    color: #353535;
    font-family: 'Open Sans', sans-serif;
}

.main_contact p {
    text-transform: capitalize;
    font-size: 16px;
    color: #555555
}

.contact_address p {
    text-transform: capitalize;
    font-size: 16px;
    color: #4e63d7;
    font-family: 'Open Sans', sans-serif;
}

.contact_form {
    padding: 50px 0;
}



input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 15px;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.message {
    padding: 15px 30px;
    background-color: #e8204f;
    color: #fff;
    border-radius: 10px;
    display: inline-block;
    float: right;
    clear: both;
    font-size: 16px;
    text-transform: capitalize;
}

.message a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
}

/*
    ==  ========  =====
    footer strat
    ======  =====  ====
*/

#footer {
    background-color: #15172e;
    padding-top: 50px;
    padding-bottom: 40px
}

#footer .title h1 {
    line-height: 24px;
}

.social_icone ul li {
    display: inline-block;
    margin: 0 50px;
}

.social_icone ul li a {
    display: block;
    color: aliceblue;
    text-decoration: none;
    font-size: 30px;
}

.social_icone ul li a span {
    line-height: 30px;
    color: rgba(232, 32, 79, 0.76);
    text-transform: capitalize
}

.social_icone ul li a i {
    font-size: 50px;
    color: #fff;
}

.copyright {
    background-color: #fff;
    color: #15172e;
    padding: 20px;
}



#location{
    height: 450px;
    width: 100%;
}









#Footer_prt{
    height: 500px;
    clip-path: polygon(26% 15%, 100% 15%, 100% 75%, 100% 100%, 0% 100%, 0 0, 14% 0);
    background-color: aqua
}